#s-06809590-62cb-433b-99d0-c582c5c01e39 #s-Fondo_4 {
  -ms-transform: rotate(0.0deg);
}
#s-06809590-62cb-433b-99d0-c582c5c01e39 #s-Atras {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-06809590-62cb-433b-99d0-c582c5c01e39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}