#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-Fondo_2 {
  position: absolute;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-Fondo_2 > img, #s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-Fondo_2 > svg {
  height: 640px;
  width: 360px;
  box-shadow: none;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo input::-moz-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo input:-moz-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo {
  position: absolute;
  width: 241px;
  height: 84px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo .valign {
  vertical-align: middle;
  line-height: 20.0pt;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo input {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  text-shadow: none;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreGrupo > .paddingLayer {
  height: 83px;
  width: 241px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario input::-moz-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario input:-moz-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario {
  position: absolute;
  width: 241px;
  height: 81px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario .valign {
  vertical-align: middle;
  line-height: 20.0pt;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario input {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  text-shadow: none;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-I_NombreUsuario > .paddingLayer {
  height: 80px;
  width: 241px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-B_CrearGrupo {
  position: absolute;
  width: 190px;
  height: 81px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-B_CrearGrupo > img, #s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-B_CrearGrupo > svg {
  height: 81px;
  width: 190px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-Atras > svg {
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-Atras {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-Atras > img, #s-0abe686e-ba78-4b88-bc74-b17cc2dae656 #s-Atras > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0abe686e-ba78-4b88-bc74-b17cc2dae656 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}