#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-T_NombreUsuario {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3f1f727e-3c06-4c27-ac6a-8811575d8aaf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}