#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Atras {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-TextChange2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-TextChange2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a9b668f1-5a8a-4f86-9f1c-2f3b31ba256f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}