#s-abdbeb0d-73f6-4467-8c4d-38dca336866e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-abdbeb0d-73f6-4467-8c4d-38dca336866e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}