#s-f096395a-8f80-44c2-8910-3bfd450d193c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f096395a-8f80-44c2-8910-3bfd450d193c #s-Atras {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f096395a-8f80-44c2-8910-3bfd450d193c #s-CodigoGrupo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f096395a-8f80-44c2-8910-3bfd450d193c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}